@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Host Grotesk', sans-serif;
    font-optical-sizing: auto;
}

.outfit {
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
}

/* For the Sidebar layout */
.mainWidth {
  width: calc(100% - 20rem);
  float: right;
}
@media screen and (max-width: 1023px) {
  .mainWidth {
    width: 100%;
  }
}